*{
    background-color: black;
    padding: 0px;

    color: white;
}

/* CONTAINERS */

.full-container{

    margin-left: 25%;
    margin-right: 25%;
}   

.container-top, .container-top-mid, .container-bottom-mid, .container-bottom{
    display: flex;
    flex-direction: row;
}

/* TOP */

.top1, .top2, .top3, .top4{
    max-width: 100%;
    height: 135px;

    margin: 5px;
}

.top1{

    flex-grow: 2;
    background-color: darkblue;
}

.top2{

    flex-grow: 2;
    background-color: purple;
}

.top3{

    flex-grow: 1;
    background-color: blue;
}

.top4{

    flex-grow: 1;
    background-color: greenyellow;
}

/* TOP-MID */

.top-mid1, .top-mid2, .top-mid3, .top-mid4{
    max-width: 100%;
    height: 135px;

    margin: 5px;
}

.top-mid1{
    
    flex-grow: 2;
    background-color: orangered;
}

.top-mid2{

    flex-grow: 2;
    background-color: darkcyan;
}

.top-mid3{

    flex-grow: 1;
    background-color: purple;
}

.top-mid4{

    flex-grow: 1;
    background-color: darkblue;
}

/* BOTTOM-MID */

.bottom-mid1, .bottom-mid2, .bottom-mid3{
    max-width: 100%;
    height: 135px;
    
    margin:5px;

    flex-grow: 1;
}

.bottom-mid1{
    background-color: purple;
}

.bottom-mid2{
    background-color: red;
}

.bottom-mid3{
    background-color: orangered;
}

/* BOTTOM */

.bottom1, .bottom2, .bottom3, .bottom4{
    max-width: 100%;
    height: 135px;

    margin: 5px;
}

.bottom1{
    flex-grow: 2;

    background-color: aqua;
}

.bottom2{
    flex-grow: 2;

    background-color: blue;
}

.bottom3{
    flex-grow: 1;

    background-color: green;
}

.bottom4{
    flex-grow: 1;

    background-color: red;
}

